{
  "branches": ["master"],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    "@semantic-release/github",
    ["@semantic-release/docker", {
      "name": "my-nginx-image",
      "registry": "docker.io",
      "tag": "latest"
    }]
  ]
}
