name: Build and push Docker image

on:
  push:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build Docker image
        run: docker build -t my-nginx-image .
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Tag Docker image
        run: docker tag my-nginx-image my-dockerhub-username/my-nginx-image:1.0.0
      - name: Push Docker image
        run: docker push my-dockerhub-username/my-nginx-image:1.0.0