name: Build and push Docker image

on:
  push:
    branches:
      - master
env:
  VERSION: $(cat VERSION | tr -d '\n')
  IMAGE_NAME: my-nginx-image

jobs:
  Checkout:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Build
        run: docker build -t ${{ env.IMAGE_NAME }}:${{ env.VERSION }} .
  push:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Tag
        run: docker tag ${{ env.IMAGE_NAME }}:${{ env.VERSION }} hamzabelka/playground:${{ env.VERSION }}
      - name: Push
        run: docker push hamzabelka/playground:${{ env.VERSION }}
